@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@font-face {
  font-family: 'Genos';
  src: url('/fonts/Genos-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-family-genos {
  font-family: 'Genos', sans-serif;
}
.font-family-poppins {
  font-family: 'Poppins', sans-serif;
}

@theme {
    --color-azul: #005EB8;
    --color-golden: #FFC845;
    --color-whale: #1F2A44;
    --color-cornFlower: #8BB8E8;
    --color-blanco: #ffffff;
}