---
import Layout from "../layouts/Layout.astro";
import { BadgeCheck } from "lucide-astro";
---

<Layout title="Nosotros">
  <!-- Quienes Somos? -->
  <div class="flex w-full h-[calc(100vh-6rem)] bg-white">
    <!-- Left: Texto -->
    <div class="w-1/2 flex flex-col justify-center px-16">
      <h2 class="text-5xl font-bold mb-6 font-family-poppins">
        ¿Quiénes Somos?
      </h2>
      <p class="text-xl mb-8 font-family-poppins">
        "Somos tu socio estratégico en consultoría y ejecución de proyectos de
        construcción, con tecnología propia y un enfoque integral que garantiza
        calidad y sostenibilidad."
      </p>
      <ul class="space-y-6">
        <li class="flex items-center">
          <span
            class="flex-shrink-0 w-7 h-7 flex items-center justify-center rounded-full mr-3"
          >
            <img
              src="/images/Nosotros/check.svg"
              alt="check"
              class="w-10 h-10"
            />
          </span>
          <span class="text-lg font-family-poppins leading-relaxed">
            Dedicados a obras civiles y venta de agregados para la construcción.
          </span>
        </li>
        <li class="flex items-center">
          <span
            class="flex-shrink-0 w-7 h-7 flex items-center justify-center rounded-full mr-3"
          >
            <img
              src="/images/Nosotros/check.svg"
              alt="check"
              class="w-10 h-10"
            />
          </span>
          <span class="text-lg font-family-poppins leading-relaxed">
            Poseemos minas propias y planta de agregados, asegurando el
            suministro continuo y de calidad.
          </span>
        </li>
        <li class="flex items-center">
          <span
            class="flex-shrink-0 w-7 h-7 flex items-center justify-center rounded-full mr-3"
          >
            <img
              src="/images/Nosotros/check.svg"
              alt="check"
              class="w-10 h-10"
            />
          </span>
          <span class="text-lg font-family-poppins leading-relaxed">
            Servicios integrales que abarcan desde consultoría y estudios
            técnicos, hasta ejecución de obras y capacitación en seguridad.
          </span>
        </li>
      </ul>
    </div>
    <!-- Right: Imagen -->
    <div
      class="w-1/2 h-full flex items-center justify-center overflow-y-hidden"
    >
      <img
        src="/images/Nosotros/Img_PrimerFrame.png"
        alt="Construcción R&C Group"
        class="object-cover w-full h-full shadow-lg"
      />
    </div>
  </div>
   <!-- Misión y Visión estilo imagen -->
  <div class="w-screen h-screen flex justify-center items-center py-20 bg-white ">
    <!-- Izquierda: Título y descripción -->
    <div class="w-[50%] h-full flex justify-end items-center   px-8">
      <div class="flex flex-col justify-center items-center ">
        <h2 class="text-3xl md:text-4xl font-extrabold text-golden text-center mb-4 font-family-poppins">
          Construimos con calidad, seguridad<br />y sostenibilidad.
        </h2>
        <p class="text-lg md:text-xl text-center font-family-poppins max-w-xl">
          Llevamos más de una década desarrollando proyectos de construcción con experiencia comprobada, tecnología propia y un enfoque integral que garantiza resultados de alto nivel.
        </p>

      </div>
    </div>
    <!-- Derecha: Visión y Misión con imágenes -->
    <div class="w-[50%] flex flex-col gap-8 justify-center  px-8">
      <div class="flex gap-6 items-center  justify-start">
        <img
          src="/images/Nosotros/Img_SegundoFrame_1.png"
          alt="Equipo de construcción"
  class="w-[300px] h-[300px] object-cover rounded-tl-[2rem] flex-shrink-0 transition-transform duration-300 hover:scale-105"
        />
        <div>
          <h3 class="text-3xl font-extrabold text-golden mb-2 font-family-poppins">Visión</h3>
          <p class="text-base font-family-poppins w-[300px]">
            Ser líderes a nivel nacional e internacional en la ejecución de proyectos de construcción civil, destacando por nuestra capacidad instalada, innovación tecnológica, compromiso con la calidad, sostenibilidad ambiental y la satisfacción total de nuestros clientes.
          </p>
        </div>
      </div>
      <div class="flex gap-6 items-center  justify-start">
        <div>
          <h3 class="text-3xl font-extrabold text-golden mb-2 font-family-poppins">Misión</h3>
          <p class="text-base font-family-poppins w-[300px]">
            Brindar soluciones integrales en consultoría, ingeniería y ejecución de obras civiles mediante un equipo profesional altamente calificado, recursos propios y procesos certificados, cumpliendo con los más altos estándares de calidad, seguridad, eficiencia y respeto por el medio ambiente.
          </p>
        </div>
        <img
          src="/images/Nosotros/Img_SegundoFrame_2.png"
          alt="Excavadora en obra"
          class="w-[300px] h-[300px] object-cover rounded-br-[2rem] flex-shrink-0 transition-transform duration-300 hover:scale-105"
        />
      </div>
    </div>
  </div>

  <!-- Historia -->
  <div class="w-full h-screen bg-gray-200 flex">
    <div class="w-1/2">
      <h2 class="text-7xl">Nuestra Historia</h2>
      <ul>
        <li>
          <BadgeCheck /> Fundación de la empresa en 2001.
        </li>
        <li>Primer proyecto de infraestructura pública en 2005.</li>
        <li>Expansión a nivel nacional en 2010.</li>
        <li>Implementación de tecnologías sostenibles en 2015.</li>
        <li>Reconocimientos por calidad e innovación en 2020.</li>
      </ul>
    </div>
    <div class="w-1/2">
      <p>aqui va una imagen</p>
      <img src="" alt="" />
    </div>
  </div>

  <!-- Valores -->
  <div class="w-full h-screen bg-gray-200 flex">estos son nuestros valores</div>

  <!-- Presencia Geografica -->
  <div class="w-full h-screen bg-gray-200 flex">
    5. Presencia Geográfica Oficinas y operaciones en: Arequipa, Tacna,
    Moquegua, Lima e Ica. Cobertura nacional en proyectos públicos y privados.
  </div>
</Layout>
