<footer class="bg-whale font-family-poppins text-white">
  <div class="mx-auto max-w-screen-xl px-4 pt-16 pb-6 sm:px-6 lg:px-8 lg:pt-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="flex justify-center sm:justify-start  gap-3">
          <img
            src="/images/logo.png"
            alt="R&C Group"
            class="h-10 w-auto contrast-175"
          />
          <span class="font-family-genos text-2xl text-golden">Grupo R&C</span>
        </div>

        <p
          class="mt-6 max-w-md text-center leading-relaxed text-cornFlower sm:max-w-xs sm:text-left"
        >
          Somos tu socio estratégico en consultoría y ejecución de proyectos de
          construcción, con experiencia comprobada, tecnología propia y un
          enfoque integral que garantiza calidad, eficiencia y sostenibilidad en
          cada obra.
        </p>

        <ul class="mt-8 flex justify-center gap-6 sm:justify-start md:gap-8">
          <li>
            <a
              href="#"
              target="_blank"
              rel="noopener"
              class="text-golden transition hover:text-golden/75">Facebook</a
            >
          </li>
          <li>
            <a
              href="#"
              target="_blank"
              rel="noopener"
              class="text-golden transition hover:text-golden/75">Instagram</a
            >
          </li>
          <li>
            <a
              href="#"
              target="_blank"
              rel="noopener"
              class="text-golden transition hover:text-golden/75">LinkedIn</a
            >
          </li>
        </ul>
      </div>

      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2"
      >
        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-golden">Sobre Nosotros</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a
                href="/nosotros"
                class="text-cornFlower hover:text-golden transition"
                >Quiénes Somos</a>
            </li>
            <li>
              <a
                href="/nosotros#mision-vision"
                class="text-cornFlower hover:text-golden transition"
                >Misión y Visión</a>
            </li>
            <li>
              <a
                href="/experiencia"
                class="text-cornFlower hover:text-golden transition"
                >Nuestra Experiencia</a>
            </li>
            <li>
              <a
                href="/ventajas"
                class="text-cornFlower hover:text-golden transition"
                >Ventajas Competitivas</a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-golden">Nuestros Servicios</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a
                href="/servicios"
                class="text-cornFlower hover:text-golden transition"
                >Provisión de materiales para construcción</a>
            </li>
            <li>
              <a
                href="/servicios"
                class="text-cornFlower hover:text-golden transition"
                >Consultoría integral de proyectos</a>
            </li>
            <li>
              <a
                href="/servicios"
                class="text-cornFlower hover:text-golden transition"
                >Estudios geotécnicos y topográficos</a>
            </li>
            <li>
              <a
                href="/servicios"
                class="text-cornFlower hover:text-golden transition"
                >Ejecución de obras civiles</a>
            </li>
            <li>
              <a
                href="/servicios"
                class="text-cornFlower hover:text-golden transition"
                >Capacitación en seguridad</a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-golden">Enlaces Útiles</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a href="#" class="text-cornFlower hover:text-golden transition"
                >FAQs</a>
            </li>
            <li>
              <a href="#" class="text-cornFlower hover:text-golden transition"
                >Soporte</a>
            </li>
            <li>
              <a
                href="/contacto"
                class="text-cornFlower hover:text-golden transition"
                >Contáctanos</a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-golden">Contacto</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a
                href="https://consultoriaoracleperusac.org.pe"
                target="_blank"
                rel="noopener"
                class="text-cornFlower hover:text-golden transition"
                >consultoriaoracleperusac.org.pe</a
              >
            </li>
            <li>
              <a
                href="tel:+51953760543"
                class="text-cornFlower hover:text-golden transition"
                >953 760 543</a
              >
            </li>
            <li>
              <span class="text-cornFlower"
                >Mza. A Lote 19, Urb. Juan el Bueno, Arequipa - Perú</span
              >
            </li>
            <li>
              <span class="text-cornFlower"
                >Oficinas en: Arequipa, Tacna, Moquegua, Lima, Ica</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-12 border-t border-golden pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-sm text-cornFlower">
          Todos los derechos reservados ·
          <a
            href="#"
            class="text-golden underline transition hover:text-golden/75"
            >Términos y Condiciones</a
          >
          ·
          <a
            href="#"
            class="text-golden underline transition hover:text-golden/75"
            >Política de Privacidad</a
          >
        </p>

        <p class="mt-4 text-sm text-cornFlower sm:order-first sm:mt-0">
          &copy; 2025 R&amp;C Group
        </p>
      </div>
    </div>
  </div>
</footer>
